.articles {
  padding: 50px 0;
  text-align: center;

  &__title {
    text-align: center;
    margin-bottom: 50px;
  }

  &__more {
    display: inline-block;
    padding: 15px 25px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    color: #000;
    background-image: none;
    background-color: #feb200;
    border: 1px solid transparent;
    border-radius: 3px;
  }
}