.basement {
  padding: 15px 0;
  font-size: 10px;

  .subtitle {
    text-align: center;
  }

  .content-moscow, .content-spb {

    .city {
      text-transform: uppercase;
    }
  }

  .content-moscow {

    @media (min-width: @screen-sm) {
      text-align: right;
    }
  }

  table {

    tr {
      border-bottom: 1px solid #000;
    }

    tr:last-child {
      border-bottom: none;
    }

    td:last-child {
      text-align: right;
    }
  }

  .city-list {

    @media (max-width: @screen-xs) {
      display: none;
    }
  }
}