.call-up {
  padding: 20px;
  color: #000;

  &__desc {
    display: inline-block;
    text-align: right;
    font-size: 24px;
    line-height: 22px;
    text-transform: uppercase;
    margin-right: 10px;

    span {
      display: block;
    }

    @media (max-width: @screen-sm) {
      display: block;
      margin-right: 0;
    }

    @media (max-width: @screen-md) {
      text-align: center;
    }
  }

  &__phone {
    display: inline-block;
    text-align: left;
    font-size: 60px;
    line-height: 48px;

    @media (max-width: @screen-sm) {
      display: block;
      font-size: 30px;
      text-align: center;
    }
  }
}