.contacts {
  color: #3b3b3b;
  padding: 50px 0;
  text-align: center;
  font-size: 14px;
  background-color: #ccc;
  background: url() no-repeat;
  background-position: center;
  background-size: cover;

  &__title {
    margin-bottom: 50px;
  }

  &__content {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0px 11px 21px 0px rgba(0, 0, 0, 0.38);

    @media (min-width: @screen-md) {
      width: 410px;
      margin: 0 auto;
    }
  }

  &__desc {
    padding: 0 30px;
  }

  &__title {
    margin-bottom: 35px;
    font-size: 21px;
    font-weight: normal;

    span {
      color: #feb200;
    }
  }

  &__list {
    list-style: none;
    font-weight: bold;
    margin-bottom: 20px;
  }

  &__list-item {
    margin-bottom: 5px;

    i {
      color: #feb200;
    }

    a {
      color: #3b3b3b;
    }
  }

  &__slider {
    margin-bottom: 20px;

    .owl-controls {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
    }

    .owl-prev, .owl-next {
      position: absolute;
      top: 0;
      bottom: 0;
      display: inline-block;
      margin: 0;
    }

    .owl-prev {
      left: -45px;
    }

    .owl-next {
      right: -45px;
    }

    .owl-controls .owl-prev,
    .owl-controls .owl-next {
      padding: 0;

      img {
        transform: translateY(-50%);
      }
    }
  }

  &__map {
    width: 100%;
    height: 250px;
    border: 2px solid #feb200;
  }
}
