.feedback {
  background-color: #e3e3e3;
  padding: 50px 0;

  &__banner {
    background-color: #fff;
    padding: 20px 0;
    margin-bottom: 30px;
  }

  &__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 21px;
    margin: 0;
  }

  &__slogan {
    color: #fff;
    background-color: #313131;
    text-align: center;
    line-height: 25px;
  }

  &__list {
    padding-left: 40px;

    li {
      padding-left: 25px;
      margin-bottom: 10px;
      font-weight: bold;
    }
  }

  &__form {
    margin-bottom: 30px;

    button[type="submit"] {
      background-color: #feb200;
      width: 100%;
      padding: 10px;
      text-transform: uppercase;
      font-weight: bold;
    }

    .form-control {
      color: #757575;
      background: linear-gradient(to bottom, rgba(237,237,237,1) 11%, rgba(240,240,240,1) 23%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
      border-radius: 2px;

      &--full-width {

        @media (min-width: @screen-sm) {
          width: 100%;
        }
      }
    }

    .form-group {

      @media (min-width: @screen-sm) {
        margin-bottom: 20px;
      }

      &--time {

        @media (min-width: @screen-sm) {
          width: 100%;
          text-align: center;
        }
      }

      span {
        display: block;
        margin-bottom: 20px;
      }
    }
  }

  &__note {
    margin-top: 30px;
    text-align: center;
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;

    &::before, &::after {
      content: " - ";
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }
}