.item {
  position: relative;
  width: 100%;
  min-height: 330px;
  overflow: hidden;
  margin-bottom: 30px;

  &:hover .item__cover-overlay {
    display: block;
  }

  &:hover .item__text {
    background: #000;
    color: #feb200;
  }

  &:hover .item__text:before {
    border-bottom: 17px solid #000;
  }

  &__cover {
    position: absolute;
    width: 100%;
    height: 70%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__cover-overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 70%;
    background: rgba(0, 0, 0, 0.8);
  }

  &__cover-desc {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    img {
      margin: 15px;
    }
  }

  &__text {
    position: absolute;
    width: 100%;
    height: 30%;
    top: 70%;
    background: #feb200;
    color: #000;
    padding: 20px;
    text-align: left;
    font-size: 17px;
    font-weight: bold;

    &::before {
      position: absolute;
      content: '';
      width: 0;
      height: 0;
      border-bottom: 17px solid #feb200;
      border-left: 17px solid transparent;
      border-right: 17px solid transparent;
      top: -17px;
      left: 20px;
    }
  }
}