.page-footer {
  background: @gray-lighter;
  padding: 15px 0 30px 0;

  .content {

    @media (max-width: @screen-sm) {
      margin-bottom: 30px;
    }
  }

  .subtitle {
    margin-bottom: 20px;
  }

  .list {
    list-style: none;
    line-height: 1.3;

    .item {

      a {
        color: @text-color;
      }
    }
  }

  .payment {
    margin-bottom: 20px;

    .visa, .mastercard {
      vertical-align: middle;
      margin-right: 10px;
    }
  }

  .phone {
    margin-bottom: 15px;

    a {
      font-size: 18px;
      color: @text-color;
      display: block;
    }
  }

  .social-link {
    display: inline-block;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    padding: 5px;
    border: 1px solid #000;
    position: relative;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}