@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/gothampro-regular.woff") format("woff"),
       url("../fonts/gothampro-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/gothampro-medium.woff") format("woff"),
       url("../fonts/gothampro-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}