html {
  box-sizing: border-box;
  font-size: 14px;
  color: #000;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  box-sizing: content-box;
}

body {
  min-width: 320px;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, ul, ol {
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 16px;
}

b {
  font-weight: medium;
  font-size: 10px;
}

a {
  text-decoration: none;
  transition: all ease-in-out 0.25s;
}

button {
  background-color: inherit;
  border: none;
}

a,
area,
button,
[role='button'],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}